@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

@import "variables";

@mixin bgcolor($value) {
  background-color: $value;
}

body {
  margin: 0px;
  padding: 0px;
  background: linear-gradient(100deg, $p-color, $s-color, $t-color);
  //    color: palevioletred;
  display: flex;
  align-items: center;
  justify-content: center;
}
*::before,
*::after {
  box-sizing: border-box;
}
#getBtn {
  position: relative;
  bottom: -50px;
  // right: -35px;
  height: 50px;
  font-size: 20px;
  font-family: "Mukta", sans-serif;
  width: 505px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  @include bgcolor($f-color);
  border-color: transparent;
  &:hover {
    transition: all linear 0.5s;
    @include bgcolor($fi-color);
    border-color: transparent;
    text-decoration-line: underline;
  }
}

.dogApi {
  border: 2px solid #222;
  @include bgcolor($se-color);
  height: 310px;
  width: 500px;
  position: relative;
  bottom: -40px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  // zoom: 10%;
  //    object-fit: contain;
}
#heading {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  text-align: center;
}

::selection {
  @include bgcolor($e-color);
  color: #fff;
} 
@media only screen and (max-width:360px) and (min-width:0px){
      .dogApi{
          height:200px;
          width:300px;
          margin:0px 200px;
      }
      #getBtn{
        width:300px;
        margin:0px 200px;
      }
}
